@import url('https://fonts.googleapis.com/css?family=Roboto');

h1 {font-size: 20px;
    font-weight: bold;
    margin-top: 20px;}

h2 {font-size: 20px;}
h3 {font-size: 15px;
    background-color: rgb(241, 90, 36);
    width: 100%;
    border-radius: 50px;
    color: white;
    padding: 2px;
    text-indent: 3px;
    }

h1, h2, h3, p, .btn, li {font-family: 'Roboto', sans-serif;}

.btn {background-color: rgb(46, 95, 255);
        color: white;
        height: 25px;
        width: 100px;
        border-radius:50px;}

.kleurvlak {position:relative;
            z-index: -1;
            background-color: rgb(46, 95, 255);
            height: 500px;}

.img-fluid {position: relative;
            z-index: 1;
            border: 50px white;
            border-radius: 15px;}

p, ol {background-color: rgb(242, 191, 187);
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 12px;
    padding: 10px;
    margin-top: -15px;
    z-index: -1;
}

ol {padding-left: 30px;}



/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}